<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Plataforma educativa" content="">
    <meta name="Cristian Dominguez" content="">

    <title>Growing</title>

    <link href="{{ asset('bundles/dojo/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{ asset('bundles/dojo/css/sb-admin.css')}}" rel="stylesheet">
    <link href="{{ asset('bundles/dojo/css/plugins/morris.css')}}" rel="stylesheet">
    {% block estilos %}
    {% endblock %}
    <link href="{{asset('bundles/dojo/font-awesome-4.1.0/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Growing!</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu message-dropdown">
			{% block mensajes %}
			{% endblock %}
                        <li class="message-footer">
                            <a href="#">Leer todos los mensajes</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu alert-dropdown">
			{% block alertas %}
			{% endblock %}
                        <li class="divider"></li>
                        <li>
                            <a href="#">Ver todas</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {% block usuario %}{% endblock %}<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#"><i class="fa fa-fw fa-user"></i> Datos personales</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-gear"></i> Configuraciones</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-power-off"></i> Cerrar sesión</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                {% block menulateral %}
		{% endblock %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>
        <div id="page-wrapper">
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <ol class="breadcrumb">
			{% block indice %}
			{% endblock %}
                        </ol>
                    </div>
                </div> 
                <!-- /.row -->
		{% block contenido %}
		{% endblock %}
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    <script src="{{ asset('bundles/dojo/js/jquery.js')}}"></script>
    <script src="{{ asset('bundles/dojo/js/bootstrap.min.js')}}"></script>
    <script src="{{ asset('bundles/dojo/js/plugins/morris/raphael.min.js')}}"></script>
    <script src="{{ asset('undles/dojo/js/plugins/morris/morris.min.js')}}"></script>
    <script src="{{ asset('bundles/dojo/js/plugins/morris/morris-data.js')}}"></script>
    {% block scripts %}
    {% endblock %}

</body>

</html>
