{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Altas\Usuarios</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ entity.password }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.email }}</td>
            </tr>
            <tr>
                <th>Idtiposdocumento</th>
                <td>{{ entity.idTiposdocumento }}</td>
            </tr>
            <tr>
                <th>Documento</th>
                <td>{{ entity.documento }}</td>
            </tr>
            <tr>
                <th>Imagen</th>
                <td>{{ entity.imagen }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('abm_usuarios') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('abm_usuarios_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
